@font-face{
    font-family: pmzdbtt;
    src: url(庞门正道标题体.ttf);
}
@font-face{
    font-family: pmzdcst;
    src: url(庞门正道粗书体.ttf);
}
@font-face{
    font-family: zkgdh;
    src: url(站酷高端黑修订版1.13.ttf);
}
@font-face{
    font-family: zkkh;
    src: url(站酷酷黑.ttf);
}
@font-face{
    font-family: zkhlt;
    src: url(站酷快乐体2016修订版.ttf);
}
@font-face{
    font-family: zkwyt;
    src: url(站酷文艺体.ttf);
}
@font-face{
    font-family: zklogot;
    src: url(站酷小薇LOGO体_0.otf);
}
@font-face{
    font-family: SourceHanSansSC-Bold;
    src: url(SourceHanSansSC-Bold.otf);
}
@font-face{
    font-family: SourceHanSansSC-Regular;
    src: url(SourceHanSansSC-Regular.otf);
}
@font-face{
    font-family: SourceHanSerifSC-Heavy;
    src: url(SourceHanSerifSC-Heavy.otf);
}
@font-face{
    font-family: SourceHanSerifSC-Regular;
    src: url(SourceHanSerifSC-Regular.otf);
}